@model NebbAir.Models.Patnici

@{
    ViewData["Title"] = "GetPasos";
}

<h1>GetPasos</h1>

<div>
    <h4>Patnici</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prezime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prezime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataNaRagjanje)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataNaRagjanje)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PassporNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PassporNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlightNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlightNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Origin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Origin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Destination)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Destination)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Departure)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Departure)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Return)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Return)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarryOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarryOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Trolley)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Trolley)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CheckIn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CheckIn)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PatnikID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
